body {
    background-color: var(--purple);
}

main {
    padding: 70px 10px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
}

.ab-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
    padding: 2rem;
    border: 1px solid var(--white);
    border-radius: 20px;
    line-height: 1.5;
    background-color: var(--white);
}
.ab-div p {
    font-family: "elza-narrow", sans-serif;
}
p {
    font-family: "chainprinter", sans-serif;
    font-size: 18px;
    text-align: justify;
}

.form-section {
    flex: 1;
    height: fit-content;
    border: 15px double var(--purple);
    border-radius: 20px;
    background-color: var(--blue);
}
h2 {
    text-align: center;
}
label {
    font-family: "chainprinter", sans-serif;
    font-size: 18px;
}
#purpose-options-holder {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
#purpose-options-holder label {
    font-family: "elza-narrow", sans-serif;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 100%;
}

.form-question {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
input, textarea {
    font-size: 16px;
    background-color: var(--white);
    line-height: 1.5;
    font-family: "elza-narrow", sans-serif;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input:active, input:focus {
    border: 2px solid var(--purple);
}
#stringLength.invalid {
    color: var(--red);
}
.error-message {
    font-size: 0.8rem;
    background-color: var(--red);
    padding: 3px;
}
.hidden {
    display: none;
}
.contactSubmitBtn {
    font-family: "cotton", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: var(--blue);
    background-color: var(--black);
    border-radius: 5px;
    transform: rotate(3deg);
}

@media screen and (min-width: 768px) {
    #formHolder {
        grid-template-columns: 1fr;
    }
    main{
        flex-direction: row;
        padding: 5px;
        gap: 0.5rem;
    }
    .ab-div {
        flex: 2;
        margin: 20px 40px;
    }
    .form-section {
        flex: 1;
        width: 100%;
        margin: 10px 20px;
    }
}