body {
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--purple);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
}

.ab-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
    margin: 25px 5px;
    padding: 2rem;
    border: 1px solid var(--white);
    border-radius: 20px;
    line-height: 1.5;
    background-color: var(--white);
}
p {
    font-size: 18px;
    text-align: justify;
}

.form-section {
    flex: 1;
    margin: 25px 5px;
    height: fit-content;
    border: 15px double var(--purple);
    border-radius: 20px;
    background-color: var(--blue);
}
h2 {
    text-align: center;
}
label {
    font-family: "chainprinter", sans-serif;
    font-size: 18px;
}
#purpose-options-holder {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
#purpose-options-holder label {
    font-family: "aw-conqueror-sans", sans-serif;
    font-weight: bold;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
}

.form-question {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
input, textarea {
    font-size: 16px;
    line-height: 1.5;
    font-family: "aw-conqueror-sans", sans-serif;
    border: none;
    border-radius: 5px;
    outline: none;
}

input:active, input:focus {
    border: 0.5px solid var(--purple);
}
#stringLength.invalid {
    color: var(--red);
}
.error-message {
    font-size: 0.8rem;
    background-color: var(--red);
    padding: 3px;
}
.hidden {
    display: none;
}
@media screen and (min-width: 768px) {
    #formHolder {
        grid-template-columns: 1fr;
    }
    main{
        flex-direction: row;
    }
    .ab-div {
        margin: 20px 40px;
    }
    .form-section {
        margin: 25px 40px;
    }
}