main{
    flex-direction: column;
    gap: 2rem;
}

#wrapper {
    background-color: none;
    background-image: url('http://dl4.glitter-graphics.net/pub/2576/2576314iykc4qrchh.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
}
main{
    background-color: #ffffff00;
}
.articleContent{
    border: 8px double var(--black);
    border-radius: 15px;
    padding: 2rem;
    background-color: var(--white);
}
h1{
    text-align: center;
    margin-bottom: 2rem;
}
.articleContent .imgDisp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDisp img{
    width: 100%;
    object-fit: contain;
    max-height: 50vh;
    padding: 2rem;
}
.infoText{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.infoText p {
    font-family: "chainprinter", sans-serif;
}

.unreviewed{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--red);
    color: var(--white);
}
.articleContent h3 {
    margin: 2rem 0 0.5rem 0;
}
.artistShows {
    margin: 1rem 0 1rem 0;
}

.artistLink.btn {
    border-radius: 5px;
}

a.show{
    color: var(--red);
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.3rem;
}
a.show:hover{
    color: var(--white);
    background-color: var(--red);
}
.loadingGIF{
    max-width: 96px;
}
@media screen and (min-width: 900px){
    main{
        flex-direction: row;
    }
}
@media screen and (min-width: 1300px){
    .articleContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 12);
        column-gap: 1rem;
        max-width: 950px;
    }
    .articleContent h1{
        grid-column: span 2;
    }
    .articleContent .imgDisp{
        grid-row: span 11;
        padding: 0;
        align-items: flex-start;
    }
    .articleContent .imgDisp img{
        padding: 0;
    }
}