#newsDisplay{
    width: fit-content;
}
.eventPrev{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem 0;
    width: 100%;
    justify-content: space-between;
}
main img{
    width: 100%;
}
main{
    flex-direction: column;
}
#recentPostsDisplay{
    width: fit-content;
}
#recentPostsDisplay .post a{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 2rem;
}
#artistHighlight{
    max-width: 500px;
}